* {
    outline: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(197, 20%, 100%);
    max-width: 100vw;
    overflow-x: hidden;
    outline: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a, a:visited {
    color: inherit;
    text-decoration: none;
}